build/
.idea/
.git/
/venv/
/lib/adafruit_display_text/__init__.mpy
/lib/adafruit_bitmap_font/__init__.py
/lib/adafruit_bme280/__init__.py
/lib/adafruit_bus_device/__init__.py
/lib/adafruit_esp32spi/__init__.py
/lib/adafruit_io/__init__.py
/lib/adafruit_displayio_sh1107.mpy
/lib/adafruit_esp32spi/adafruit_esp32spi.mpy
/lib/adafruit_esp32spi/adafruit_esp32spi_socket.mpy
/lib/adafruit_esp32spi/adafruit_esp32spi_wifimanager.mpy
/lib/adafruit_esp32spi/adafruit_esp32spi_wsgiserver.mpy
/lib/adafruit_io/adafruit_io.mpy
/lib/adafruit_io/adafruit_io_errors.mpy
/lib/adafruit_requests.mpy
/lib/adafruit_st7789.mpy
/lib/adafruit_bme280/advanced.mpy
/fonts/Arial-Bold-36.bdf
/autonomous_pump-1.zip
/lib/adafruit_bme280/basic.mpy
/lib/adafruit_bitmap_font/bdf.mpy
/lib/adafruit_bitmap_font/bitmap_font.mpy
/lib/adafruit_display_text/bitmap_label.mpy
/lib/adafruit_esp32spi/digitalio.mpy
/lib/adafruit_bitmap_font/glyph_cache.mpy
/lib/adafruit_bus_device/i2c_device.mpy
/lib/adafruit_display_text/label.mpy
/lib/neopixel.mpy
/lib/adafruit_bitmap_font/pcf.mpy
/lib/adafruit_bme280/protocol.mpy
/documentation/pump Sketch-analog.fzz
/lib/adafruit_esp32spi/PWMOut.mpy
/lib/adafruit_display_text/scrolling_label.mpy
/lib/adafruit_bus_device/spi_device.mpy
/lib/adafruit_bitmap_font/ttf.mpy
